Hello ${user.fullName},

Welcome to ${app.name}, the crop management application.

An account has been created for you. You can setup your details at the following url:

${account.initAccountUrl}

See you soon!

${app.signature}

#parse( "app-footer.vm" )
