<div style="font-size: x-small; opacity: .7">
    <div>
        <span>
            ${app.name} is an open source crop management application.
            For more information, check out the project: <a href="${app.projectUrl}">${app.projectUrl}</a>.
        </span>
        <a href="mailto:${app.contactMail}">
            Contact the administrators
        </a>
    </div>
</div>